LLM_PROVIDER=
# ollama, azure

OLLAMA_BASE_URL=
# eg: http://localhost:11434/

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
OPENAI_API_VERSION=

CHAT_MODEL=
# eg: llama3.2:3b
EMBEDDING_MODEL=
# nomic-embed-text:latest

LANGGRAPH_SERVER=
CHECKPOINTER=memory
