[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic-settings = "*"
langchain-openai = "*"
langchain-community = "*"
faiss-cpu = "*"
wikipedia = "*"
duckduckgo-search = "*"
langchain-tavily = "*"
beautifulsoup4 = "*"
langgraph-checkpoint-sqlite = "*"
langgraph-cli = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[api]
fastapi = "*"
uvicorn = "*"
python-jose = "*"
aiofiles = "*"

[streamlit]
streamlit = "*"
st-annotated-text = "*"

[requires]
python_version = "3.10"
