[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
python-dotenv = "*"
duckduckgo-search = "*"
langchain-tavily = "*"
langchain-community = "*"
faiss-cpu = "*"
wikipedia = "*"
langgraph-cli = "*"
beautifulsoup4 = "*"
langgraph-checkpoint-sqlite = "*"
pydantic-settings = "*"
fastapi = "*"
uvicorn = "*"
python-jose = "*"
aiofiles = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
